.oscillator {

}

  .oscillator-buttons {
    display: flex;
  }

  .oscillator-button {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 5px 0 0;
  }

    .oscillator-button:disabled {
      background-color: #FFF;
      background-color: rgba(255, 255, 255, 0.8);
    }

  .oscillator-wave-svg {
    height: 21px;
    width: 28px;
  }
