.track-options {
  align-items: center;
  background-color: #141619;
  background-color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  display: flex;
  height: 130px;
  left: 160px;
  padding: 8px;
  position: absolute;
  top: 0;
  width: 700px;
  z-index: 1000;
}

.track-options-slider {
  margin: 0 0 7px 0;
}

  .track-options-slider-label {
    display: inline-block;
    width: 70px;
  }

  .track-options-slider-range {
    background-color: #555;
    width: 150px;
  }

  .track-options-slider-range:focus {
    background-color: #333;
  }  


  .track-options-right {
    height: 100%;
    margin: 0 0 0 20px;    
  }

  .track-options-oscillator-buttons {
    display: flex;
  }


.wave-svg {
  height: 21px;
  width: 28px;
}

.oscillator-button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 5px 0 0;
}

  .oscillator-button:disabled {
    background-color: #444;
    background-color: rgba(255, 255, 255, 0.2);
  }
