.track-options {
  /*align-items: center;*/
  background-color: #141619;
  background-color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  display: flex;
  height: 130px;
  left: 160px;
  padding: 8px;
  position: absolute;
  top: 0;
  width: 700px;
  z-index: 1000;
}

  .track-options-sidebar {
    align-items: flex-start;
    border-right: 1px solid #555;
    display: flex;
    flex-direction: column;
    padding: 0 8px 0 0;
  }

    .track-options-sidebar-button {
      background-color: inherit;
      border: none;
      border-bottom: 1px solid transparent;
      color: #DDD;
      margin: 0 0 5px 0;
      text-align: left;
      width: 100%;
    }

    .track-options-sidebar-button:focus {
      border-bottom: 1px solid #555;
      outline: none;
    }

      .track-options-sidebar-button-active {
        background-color: #FFF;
        background-color: rgba(255, 255, 255, 0.8);
        color: #111;
      }

  .track-options-content {
    margin: 0 0 0 8px;
  }

.track-options-slider {
  margin: 0 0 7px 0;
}

  .track-options-slider-label {
    display: inline-block;
    width: 70px;
  }

  .track-options-slider-range {
    background-color: #555;
    width: 150px;
  }

  .track-options-slider-range:focus {
    background-color: #333;
  }  


  .track-options-right {
    height: 100%;
    margin: 0 0 0 20px;    
  }

  .track-options-oscillator-buttons {
    display: flex;
  }

  .track-options-filter {
    display: flex;
    flex-direction: column;
  }


.wave-svg {
  height: 21px;
  width: 28px;
}

.oscillator-button {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 5px 0 0;
}

  .oscillator-button:disabled {
    background-color: #444;
    background-color: rgba(255, 255, 255, 0.2);
  }
