.project {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-header {
display: flex;
height: 50px;
justify-content: space-between;
width: 100%;
}

.project-title {
  background-color: inherit;
  color: inherit;
  font-size: 1.3rem;
  height: 80%;
  margin: 0 0 0 10px;
}

  .project-title-input {
    border: 1px solid white;
  }


.play {
  border-bottom: 13px solid transparent;
  border-left: 20px solid black;
  border-top: 13px solid transparent;
  height: 0;
  width: 0; 
}

.stop {
  background-color: black;
  height: 20px;
  width: 20px;
}

