html, body {
  color: #DDD;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
}

#main {
  height: 100%;
  width: 100%;
}

button, input {
  font-family: 'Titillium Web', sans-serif;
}

.button-dark {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 1px solid transparent;
  color: #DDD;
}

.button-dark:focus {
  border-bottom: 1px solid #888;
  outline: none;
}

.button-dark:disabled {
  color: #777;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}

.button-light {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-bottom: 1px solid transparent;
  color: #111;
}

.button-light:focus {
  border-bottom: 1px solid white;
  outline: none;
}

.button-light:disabled {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.1);
}

.button-link {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  color: #DDD;
  cursor: pointer;
  text-decoration: underline;
}
