html, body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
}

#main {
  height: 100%;
  width: 100%;
}

.input-dark {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px solid transparent;
  color: #AAA;
  padding: 4px 5px;
}

.input-dark:focus {
  border-bottom: 1px solid #AAA;
  outline: none;
}

.button-dark {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
}

.button-light {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}
