.bucketrow {
  display: flex;
  height: 100%;
}

.bucketrow-button {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  font-size: 1.5rem;
  height: 50px;
  margin: 20px;
  width: 35px;
}

.sixteenth {
  height: 65%;
  width: 65%;
}

.half {
  height: 50%;
  width: 50%;
}
