.bucket-container {
  align-items: center;
  display: flex;
  /*flex-basis: content;*/
  flex-direction: column;
}

.bucket {
  align-items: center;
  background-color: #666;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid transparent;
  display: flex;
  flex-direction: column-reverse;
  margin: 0 4px;
  min-height: 105px;
  padding: 4px 0;
  width: 70px;
}

  .bucket-playing {
    background-color: #888;
    background-color: rgba(255, 255, 255, 0.45);
    border: 1px solid #AAA;
  }

.deletebucket-container {
  height: 20px;
}

.delete-bucket {
  font-size: 0.8rem;
  height: 20px;
  margin: 5px 0 0 0;
  width: 20px;
}
