.notebar {                    
  display: flex;
  height: 150px;
  justify-content: space-between;
  margin: 20px 20px 50px 20px;
  max-width: 500px;
}

.notebar-notes {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr 1fr;
}
