.account-data {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.project-list {
  border-bottom: 1px solid #444;
  display: flex;
  flex-direction: column;
  margin: 0 0 10px 0;
  padding: 0 5px 15px 5px;
}

.project-list-header {
  color: #888;
  margin: 0 0 10px 0;
}

.project-list-button {
  background: transparent;
  border: none;
  color: #DDD;
  padding: 3px 5px;
  text-decoration: none;
  text-align: left;
}

.project-list-button:hover {
  background-color: #444;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
