.app {
  background: linear-gradient(to bottom right, #1b1e21, #3d434b);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.btn {
  background-color: #04395E;
  border: none;
  border-radius: 0;
  color: white;
  font-size: 1rem;
}

.wrapper {
  display: flex;
  flex: auto;
  min-height: 0;
  width: 100%;
}

.subwrapper {
  height: 100%;
  width: 100%;
}
