.bucket-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bucket {
  align-items: center;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid transparent;
  display: flex;
  flex-direction: column-reverse;
  margin: 0 4px;
  min-height: 105px;
  padding: 4px 0;
  width: 70px;
}

  .bucket-playing {
    border: 1px solid #999;
  }

.deletebucket-container {
  height: 20px;
}

.deletebucket {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  font-size: 0.8rem;
  height: 20px;
  margin: 5px 0 0 0;
  width: 20px;
}
