.bucket-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bucket {
  align-items: center;
  border: 1px solid black;
  border-top: none;
  display: flex;
  flex-direction: column-reverse;
  height: 100px;
  margin: 0 10px;
  width: 70px;
}

.deletebucket {
  font-size: 0.7rem;
  width: 40px;
}


