.bucket-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bucket {
  align-items: center;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5);
  border-top: none;
  display: flex;
  flex-direction: column-reverse;
  min-height: 100px;
  margin: 0 10px;
  padding: 5px 0;
  width: 70px;
}

.deletebucket {
  font-size: 0.7rem;
  width: 40px;
}


