.editable-text {
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  height: 100%;
  padding: 2px 0;
  width: 100%;
}

.editable-text-div {
  border-bottom: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.editable-text-div:hover {
  border-bottom: 1px solid #AAA;
}

.editable-text-input {
  border: none;
  border-bottom: 1px solid transparent;
}

.editable-text-input:focus {
  border-bottom: 1px solid #AAA;
  outline: none;
}
