.project-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
}

.project-buttons-buttons {
  display: flex;
  height: 50%;
  justify-content: space-between;
  margin: 3px 0 0 0;
}

.project-buttons-message {
  display: flex;
  font-size: 0.8rem;
  height: 50%;
  justify-content: flex-end;
}

.close-message {
  margin: 0 0 0 5px;
}
