.project-buttons {
  /*border-left: 1px solid white;*/
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
}

.project-buttons-buttons {
  display: flex;
  height: 50%;
  justify-content: space-between;
}

.project-buttons-message {
  display: flex;
  font-size: 0.8rem;
  height: 50%;
  justify-content: flex-end;
}

.project-button {
  font-size: 0.85rem;
  height: 25px;
  margin: 3px;
  padding: 5px;
  width: 70px;
}

.close-message {
  margin: 0 0 0 5px;
}

.bpm-play {
  align-items: center;
  align-self: flex-start;
  display: flex;
  margin: 2px 0 0 0;
}

.bpm-input {
  font-size: 0.9rem;
  height: 15px;
  margin: 0 5px;
  padding: 5px 10px;
}

.bpm-label {
  font-size: 0.9rem;
}

.playstop-button {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: 0 10px 0 0;
  width: 25px;
}

.play {
  border-bottom: 6px solid transparent;
  border-left: 10px solid white;
  border-top: 6px solid transparent;
  height: 0;
  width: 0; 
}

.stop {
  background-color: white;
  height: 10px;
  width: 10px;
}
