.track-info {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
  width: 150px;
}

  .track-info-left {
    margin: 0 5px 0 0;
    width: 25px;
  }

  .track-info-delete {
    font-size: 0.8rem;
    height: 20px;
    margin: 0;
    width: 20px;
  }

  .track-info-right {
    display: flex;
    flex-direction: column;
    width: 125px;
  }

  .track-info-text {
    margin: 2px;
    width: 100%;
  }

  .track-info-buttons {
    display: flex;
  }

  .track-info-mutesolo {
    align-items: center;
    display: flex;
    height: 25px;
    justify-content: center;
    margin: 10px 3px;
    padding: 1px 0 2px 0;
    width: 25px;
  }

  .track-info-mutesolo-active {
    background-color: #F4A53F;
    color: #333;
  }

  .track-info-more {
    width: 80%;
  }

.hidden {
  display: none;
}

.volume {
  display: flex;
}
