.bucket-options {
  background-color: #222;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  height: 125px;  
  position: absolute;
  top: -5px;
  width: 100%;
}

  .bucket-options-item {
    align-items: center;
    background-color: transparent;
    border: none;
    color: inherit;
    display: flex;
    margin: 5px 0 0 5px;
    padding: 0;
  }

  .bucket-options-item:hover {
    color: #C94E2C;
    cursor: pointer;
  }

  .bucket-options-svg {
    margin: 0 3px 0 0;
    width: 20px;
  }
