.track {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.hover {
  background-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.5);
}

  .track-title {
    width: 100%;
  }

