.note {
  align-items: center;
  background-color: rgb(243, 167, 18);
  display: flex;
  font-size: 0.9rem;
  height: 24px;
  justify-content: center;
  margin: 1px 0;
  width: 60px;
}

.note-current {
  color: red;
}
