.header {
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 100%;
}

  .header-title {
    font-size: 1.2rem;
    margin: 0 0 0 15px;
  }
