.note-in-keyboard {                    

}

.csharp {
  grid-column: 2 / 4;
  grid-row: 1;
}

.dsharp {
  grid-column: 4 / 6;
  grid-row: 1;
}

.esharp {
  grid-column: 8 / 10;
  grid-row: 1;
}

.fsharp {
  grid-column: 10 / 12;
  grid-row: 1;
}

.gsharp {
  grid-column: 12 / 14;
  grid-row: 1;
}

.c {
  grid-column: 1 / 3;
  grid-row: 2;
}

.d {
  grid-column: 3 / 5;
  grid-row: 2;
}

.e {
  grid-column: 5 / 7;
  grid-row: 2;
}

.f {
  grid-column: 7 / 9;
  grid-row: 2;
}

.g {
  grid-column: 9 / 11;
  grid-row: 2;
}

.a {
  grid-column: 11 / 13;
  grid-row: 2;
}

.b {
  grid-column: 13 / 15;
  grid-row: 2;
}

.c2 {
  grid-column: 15 / 17;
  grid-row: 2;
}
