.header {
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex: none;
  height: 50px;
  justify-content: space-between;
  padding: 0 15px;
  width: 100%;
}

  .header-title {
    font-size: 1.2rem;
  }

  .header-link {
    text-decoration: none;
  }

  .header-button {
    height: 22px;
    margin: 0 5px;
    padding: 2px 7px;
  }
