.account-dropdown {
  /*background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);*/
  background-color: #22262A;
  height: 300px;
  position: fixed;
  right: 0;
  top: 48px;
  width: 250px;
}
