.keyboard {
  overflow: auto;
  width: 100%;
}

  .keyboard-notes {
    display: flex;
  }

  .keyboard-col {
    display: flex;
    flex-direction: column;
    margin: 0 1px;
  }

  /* holds 2 accidentals */
  .keyboard-acc2 {
    display: flex;
    flex-direction: column;
    height: 78px;
    justify-content: center;
  }

  /* holds 3 accidentals */
  .keyboard-acc3 {
    display: flex;
    flex-direction: column;
    height: 104px;
    justify-content: center;
  }

.keyboard::-webkit-scrollbar {
  background-color: inherit;
  width: 10px;
}

.keyboard::-webkit-scrollbar-thumb {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 5px;
}
