.bucketheader {
  align-items: center;
  background-color: #023A5B;
  color: white;
  display: flex;
  height: 40px;
  justify-content: space-between;
  width: 100%;
}

  .bucketheader-title {
    margin: 0 0 0 5px;
  }

  .bucketheader-button {
    margin: 0 10px;
  }
