.track-info {
  align-items: center;
  display: flex;
  height: 100%;
  width: 150px;
}

  .track-info-left {
    margin: 0 5px 0 0;
    width: 25px;
  }

  .track-info-button {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
  }

  .track-info-delete {
    font-size: 0.8rem;
    height: 20px;
    margin: 0;
    width: 20px;
  }

  .track-info-right {
    display: flex;
    flex-direction: column;
    width: 125px;
  }

  .track-info-text {
    margin: 2px;
    width: 100%;
  }

  .track-info-buttons {
    display: flex;
  }

  .track-info-mutesolo {
    margin: 10px 3px;
  }

  .track-info-mutesolo-active {
    background-color: #F4A53F;
  }

.hidden {
  display: none;
}

.volume {
  display: flex;
}

  .volume-slider {
    width: 110px;
  }
