.track-info {
  align-items: center;
  display: flex;
  height: 100%;
  width: 120px;
}

  .track-info-left {
    margin: 0 10px 0 0;
    width: 20px;
  }

  .track-info-right {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .track-info-title {
    font-size: 1.2rem;
    margin: 0 0 5px 0;
  }

  .track-info-buttons {
    display: flex;
  }

  .track-info-button {
    margin: 0 3px;
  }
