.note-column {
  border-left: 1px solid #1b1e21;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
  width: 200px;
}

.rest-box {
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.3);*/
  /*box-shadow: 0 10px 10px black;*/
  box-sizing: border-box;
  padding: 10px 0;
}
