.note-column {
  border-left: 1px solid #222;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
  width: 200px;
}

.rest-box {
  box-sizing: border-box;
  padding: 10px 0;
}
